@import 'variables';

.container {
  display: flex;
  flex-direction: column;

  &-calendar {
    max-width: 1000px;
  }

  &-search {
    display: flex;
    justify-content: space-between;

    &-input {
      flex: 3;
    }

    &-add {
      flex: 1;
      margin-left: 20px;
      align-self: center;

      button {
        width: 100%;
        color: $white;
        background-color: $theme-color;
      }
    }
  }

  &-table {

  }
}
