<!-- <section class="container">
  <div class="container-title">
    <h2>Minha conta</h2>
  </div>
  <div class="container-content">
    <section class="photo-container">
      <div class="profile-photo-button">
        <div class="profile-photo">
          <img
            *ngIf="user.imageUrl && !userImage"
            class="photo"
            src="{{ user.imageUrl | imgUrl }}"
          />
          <img [hidden]="!userImage" class="photo" #imagePreview />
          <img
            *ngIf="!user.imageUrl && !userImage"
            class="empty-photo"
            src="assets/images/user-profile.svg"
          />
          <div class="profile-photo-button">
            <input
              matInput
              readonly="true"
              type="text"
              name="image"
              #image="ngModel"
              [(ngModel)]="imageUrl"
              style="display: none"
            />
            <label *ngIf="!imageUrl" for="imageInput" matSuffix>
              <a mat-fab color="primary">
                <mat-icon>
                  edit
                </mat-icon>
              </a>
            </label>
            <a
              *ngIf="imageUrl"
              (click)="
                deleteImage(); userForm.control.markAsDirty()
              "
              mat-fab
              color="primary"
            >
              <mat-icon>delete_outline</mat-icon>
            </a>
            <input
              type="file"
              #classImage
              id="imageInput"
              class="file-input"
              name="classImage"
              (change)="
                imageChange($event);
                userForm.control.markAsDirty()
              "
            />
          </div>
        </div>
      </div>
    </section>
  </div>
</section> -->

<section class="container">
  <div class="container-title"><h2>Minha conta</h2></div>
  <div class="profile-photo-container">
    <div>
      <img
        *ngIf="user.imageUrl && !userImage"
        class="photo"
        src="{{ user.imageUrl | imgUrl }}"
      />
      <img [hidden]="!userImage" class="photo" #imagePreview />
      <img
        *ngIf="!user.imageUrl && !userImage"
        class="empty-photo"
        src="assets/images/user-profile.svg"
      />
    </div>
    <ul class="profile-resume-data">
      <li><h3>{{ userData.nome + userData.sobrenome }}</h3></li>
      <li><span>{{ userData.email }}</span></li>
      <li>
        <div class="profile-photo-button">
          <!-- <input
            matInput
            readonly="true"
            type="text"
            name="image"
            #image="ngModel"
            [(ngModel)]="imageUrl"
            style="display: none"
          /> -->
          <!-- <label *ngIf="!imageUrl" for="imageInput" matSuffix>
            <a mat-fab color="primary">
              <mat-icon> edit </mat-icon>
            </a>
          </label>
          <a
            *ngIf="imageUrl"
            (click)="deleteImage(); userForm.control.markAsDirty()"
            mat-fab
            color="primary"
          >
            <mat-icon>delete_outline</mat-icon>
          </a> -->
          <input
            type="file"
            #classImage
            id="imageInput"
            class="file-input"
            name="classImage"
            (change)="imageChange($event); userForm.control.markAsDirty()"
          />
        </div>
      </li>
    </ul>
  </div>

  <mat-list>
    <h4>Dados</h4>
    <mat-divider></mat-divider>
  </mat-list>

  <div class="user-data">
    <!-- Nome -->
    <div>
      <mat-form-field class="example-form-field" appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput type="text" />
      </mat-form-field>
    </div>
    <!-- Sobrenome -->
    <div>
      <mat-form-field class="example-form-field" appearance="outline">
        <mat-label>Sobrenome</mat-label>
        <input matInput type="text" />
      </mat-form-field>
    </div>
    <!-- Email -->
    <div>
      <mat-form-field class="example-form-field" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="text" />
      </mat-form-field>
    </div>
    <div class="divider-cpf-tel">
      <!-- CPF -->
      <div>
        <mat-form-field class="example-form-field" appearance="outline">
          <mat-label>CPF</mat-label>
          <input matInput type="text" />
        </mat-form-field>
      </div>
      <!-- Telefone -->
      <div>
        <mat-form-field class="example-form-field" appearance="outline">
          <mat-label>Telefone</mat-label>
          <input matInput type="text" />
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="action-buttons">
    <button mat-flat-button class="cancel-btn" routerLink="/ganhos">Cancelar</button>
    <button mat-flat-button class="save-btn" >Salvar</button>
    <!-- [disabled]="!form.valid || !form.dirty"  (click)="onSubmit()" -->
  </div>
</section>
