@import 'variables';

// .container {
//   background-color: $white;

//   .content {
//     .photo-container {
//       width: 30%;
  
//       .profile-photo-button {
//         display: flex;
//         justify-content: center;
//       }
  
//       .profile-photo {
//         display: flex;
//         justify-content: flex-end;
//         align-items: flex-end;
//         position: relative;
  
//         .photo {
//           width: 200px;
//           height: 200px;
//           border-radius: 100%;
//           background-color: antiquewhite;
//         }
  
//         .profile-photo-button {
//           position: absolute;
//         }
//       }
  
//       .file-input {
//         display: none;
//       }
  
//       .photo-input {
//         label {
//           vertical-align: top;
//         }
//       }
  
//       .empty-photo {
//         background-color: #3C409626;
//         border-radius: 100%;
//       }
//     }
//   }
// }

.container {
  max-width: 1000px;
  background-color: $white; 
  padding: 60px;

  .container-title {
    margin-bottom: 40px
  }

  .profile-photo-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;

    .profile-resume-data {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  mat-list > h4 {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 400;
  }
  
  .user-data {
    margin-top: 40px;

    .divider-cpf-tel { 
      display: flex;
      gap: 20px;

      div {
        flex: 1;
      }
    }
  }
}


