<main class="login">
  <section class="login__container-left">
    <div class="login__container-left-content">
      <h1>Bem vindo ao Mapets!</h1>
      <!-- <h4>Foque em seus objetivos e obtenha suporte do MaxMeta!</h4> -->

      <form
        class="login__container-left-content-form"
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
      >
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input
            matInput
            noWhiteSpace
            required
            type="text"
            formControlName="username"
            [maxlength]="21"
          />
          <mat-error *ngIf="formControl('username').invalid">
            {{ getErrorMessage("username") }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input
            matInput
            required
            noWhiteSpace
            type="text"
            [minlength]="3"
            formControlName="password"
            [type]="hide ? 'password' : 'text'"
            (keyup.enter)="form.valid ? onSubmit() : false"
            [maxlength]="31"
          />
          <button
            matSuffix
            type="button"
            mat-icon-button
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility" : "visibility_off" }}</mat-icon>
          </button>
          <mat-error *ngIf="formControl('password').invalid">
            {{ getErrorMessage("password") }}
          </mat-error>
        </mat-form-field>

        <div class="login__container-left-content-form-checkbox">
          <mat-checkbox
            name="rememberMe"
            class="remember-me-checkbox"
            color="primary"
          >
            <span class="remember-me">Lembre de mim</span>
          </mat-checkbox>

          <!-- <a href="#"><span class="remember-me">Esqueceu sua senha?</span></a> -->
        </div>

        <button
          mat-button
          mat-raised-button
          color="primary"
          [disabled]="!form.valid || loading"
          routerLink="/"
        >
          Entrar
        </button>
      </form>

      <!-- <h4>Não é cadastrado ainda? <a href="#">Registre-se aqui</a></h4> -->
      <h4>©MaxMeta. Todos os direitos reservados.</h4>
    </div>
  </section>
  <section class="login__container-right">
    <img src="../../../assets/images/pets.jpg" />
  </section>
</main>
